<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/404/global.css" />
    <link rel="stylesheet" href="/404/index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="iphone-pro-max">
      <section class="image-parent">
        <img class="image-icon" alt="" src="/images/image@2x.png" />

        <img class="icon" loading="lazy" alt="" src="/images/404.png" />

        <div class="rectangle"></div>
        <div class="page-not-found-error-wrapper">
          <div class="page-not-found-error">
            <h3 class="opps-page-not">Opps! Page Not Found</h3>
            <div class="page-not-found-error-inner">
              <button class="rectangle-parent" onclick="window.location.href = '/'">
                <div class="rectangle1"></div>
                <div class="back-to-home">BACK TO HOME</div>
              </button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
