<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>waiting for owner to let you in account</h1>
</body>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>

  const url = new URL(window.location.href);
  const params = new URLSearchParams(url.search);

  var socket = io();
  socket.on('result', (data) => {
    console.log(data)
    if (data.redirect) {
      fetch('/wait', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          id: params.get('id')
        })
      })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })

    } else {
      alert('Owner declined your request')
      window.location.href = '/'
    }
  })
  
</script>

</html>